.main-content.about{
    margin-bottom: 200px;
}

.page-title.alternate p {
    width: 70%;
    line-height: 25px;
}

.contact p {
    font-weight: 700;
}

.name_title {
    font-size: 20px;
    margin: 5px 0px 10px 0px;
}

.contact-information {
    display: flex;
    width: 600px;
    justify-content: space-between;
}

.contact{
    max-width: 240px;
    max-height: 500px;
}

.contact img{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
}

.contact-information a {
    color: #454545;
    cursor: pointer;
    font-size: 15px;
}

.contact-information a:hover {
    text-decoration: underline;
}

.contact-link {
    display: flex;
}

.contact-link p {
    margin-right: 5px;
    position: relative;
    top: -3px;
    font-size: 15px;
}

@media screen and (max-width: 750px) {
    .page-title.alternate p {
        width: 90%;
    }

    .contact-information {
        flex-direction: column;
    }

    .contact {
        margin-bottom: 40px;
    }
}